@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<script>
    $(document).ready(function() {
        $('#formet').click(function () {
            console.log("ga");
            ga('send', 'event', 'formulär', 'skickat', 'kontaktformulär', { 'hitCallback': function () { document.location = '/'; } });
            return false;
        });
    });
</script>

<address>
    One Analytics Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<form id="contact-form" action="/">
    <label>Name:</label>
    <input type="text" /><br />
    <label>Tele:</label>
    <input type="text" /><br />
    <br />
    <input id="formet" type="submit" value="Skicka"/>
</form>


<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>